* {
	margin: 0;
	padding: 0;

	font-family: 'Roboto';
	font-weight: bold;
}

*::selection {
	color: transparent;
}

body {
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;

	-webkit-app-region: drag;
}

.character-container {
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.character-img {
	-webkit-app-region: drag;
	image-rendering: pixelated;

	margin-top: 0px;
}

.character-name {
	color: #fff;
}

#cross {
	position: absolute;
}